p{
    
    color: black;
}

ul{
   
   margin:0; padding:0;
    width:300px;
}

li{
    list-style: none;
}


li a{
    
    display: block;
    text-decoration: none;
    background-color: #09c;
    margin-bottom: 1px;
    padding: 5px 3px;
    color: #FFF;
}

li a:hover{
    background: blue;
}